.card-container {
  background-color: white;
  box-shadow: 0 0 4px grey;
  border-radius: 8px;
  padding: 16px;
}

.card-info {
  display: flex;
  gap: 16px;
  position: relative;
  margin-bottom: 16px;
}

.card-rating {
  color: goldenrod;
}

.card-info .card-like {
  position: absolute;
  top: 16px;
  left: 16px;
}

.card-info img {
  width: 50%;
  height: 200px;
  object-fit: cover;
  /* margin-right: 16px; */
}

.card-details p, .card-details h2 {
  margin: 0;
}

.card-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-video {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 16px;
}

.card-thumbnails {
  display: flex;
  gap: 16px;
  height: 100px;
}

.card-thumbnails img {
  width: 100px;
  flex-grow: 1;
}